* {
margin: 0;
padding: 0;
}

.outer {
  background: url(http://res.cloudinary.com/dlj9hl4fk/image/upload/v1477936385/usaa_wkyxy3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.container {
  text-align: center;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  transform: translateX(-50%) translateY(-50%);
  padding: 1.875em 0;
}

.donald {
  width: 12.500em;
  height: 12.500em;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0.5em;
}

#quote {
  margin: 1.5em 0;
  padding: 1em;
  font-weight: 200;
}

button {
  margin: 0.625em 0;
}

h1 {
  font-family: 'Sanchez', serif;
  font-size: 3.125em;
  padding-bottom: 0.313em;
  position: relative;
}

h1:after{
  content: '';
  display: block;
  background: black;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid white;
}

a {
  padding: 0.625em 1.875em;
  margin: 1.3em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-weight: bold;
  font-size: 0.813em;
  cursor: pointer;
}

#random {
  background: red;
}

#tweet {
  background: blue;
}
